<html>
   <body>
   <div style="margin:150px;padding:15px;background-color: lightgrey;text-align: center;">
      <form action = "{{url_for('create_category')}}" method = "POST">
         <h3>Create Category</h3>
         <label>Name:</label>
         <input type = "text" name = "name" /></br>
         <label>Description:</label>
         <textarea name = "desc" ></textarea><br>
         <label>Status:</label>
         <select name="status">
            <option value="">Select Status</option>
            <option value="1">Enabled</option>
            <option value="0">Disabled</option>
         </select><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </div>
   </body>
</html>