<html>
   <body>
      <div style="margin:150px;padding:15px;background-color: lightgrey;text-align: center;">
          <form action = "/create_post" method = "POST">
             <h3>Create Post</h3>
              <label>Title:</label>
             <input type = "text" name = "title" /></br>

             <label>Body:</label>
             <textarea name = "body" ></textarea><br>
              <label>Status:</label>
              <select name="status">
                  <option value="">Select Status</option>
                  <option value="1">Enabled</option>
                  <option value="0">Disabled</option>
              </select><br>
              <label>Categories:</label>
              <select name="category_id">
                  <option value="">Select Category</option>
                  <option value="1">Cat1</option>
                  <option value="2">Cat2</option>
                  <option value="3">Cat2</option>
                  <option value="4">Cat2</option>
                  <option value="5">Cat2</option>
              </select><br>

              <input type = "submit" value = "submit" /><br>
          </form>
      </div>
   </body>
</html>